
<div class="gsv-wrapper">
<div class="gsv-container">
  <div class="gsv-header">
    <img class="gsv-logo" src="lingtologog" />
    <div class="gsv-title" />
    <div class="right">
      <div class="terms"><a href="/terms" target="_blank" onclick="openTermsPopup(); return false;">Terms of use</a></div>
      <div class="gsv-button close clear"></div>
    </div>
    
  </div>
  <div class="gsv-content">
    <div class="gsv-scroll-viewport draggable"/>
    <div class="gsv-ruller-viewport"/>
  </div>
  <div class="gsv-zoom-view">
    <div class="gsv-map-container"></div>
  </div>
  <div class="gsv-footer">
    <div class="gsv-navigator-wrapper">
      <div class="gsv-navigator"/>
    </div>
    <div class="gsv-slide-pannel">
      <div class="col-select">
        <input/>
        Column</div>
      <div class="separator"/>
      <div class="chap-select">
        <input/>
        Chapter</div>
      <div class="colon">:</div>
      <div class="verse-select">
        <input/>
        Verse</div>
    </div>
    <div class="right">
      <div class="gsv-divider"/>
      <div class="gsv-panel-item gsv-button jumpto" title="Jump To"></div>
      <div class="gsv-divider"/>
      <div class="gsv-panel-item gsv-button zoomin" title="Zoom In"></div>
      <div class="gsv-divider"/>
      <div class="gsv-panel-item zoomout" title="Zoom Out"></div>
    </div>
  </div>
</div>
<div class="gsv-photo-credit">
  <a href="http://credit-site" target="_blank">Credit String</a>
</div>
</div>
